{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "spread": true
        }
    },
    "rules": {
        "indent": ["warn", 4, {
            "SwitchCase": 1
        }],
        "semi": [
            "warn",
            "always"
        ],
        "no-console": "off",
        "accessor-pairs": [
            "error",
            {
                "getWithoutSet": true
            }
        ],
        "array-callback-return" : "error",
        "consistent-return" : "error",
        "no-extra-boolean-cast": "off",
        "no-mixed-spaces-and-tabs": "off"
    }
}
